Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @tomato2009 Sign out
2,595
69,578 31,965 github/gitignore
 Code  Pull requests 156  Projects 0  Insights
gitignore/Global/Eclipse.gitignore
e833921  20 days ago
@shiftkey shiftkey Merge pull request #2649 from lukoerfer/master
@shiftkey @sherzodv @tyutyutyu @aroben @Utumno @segfly @drasolka @rlee287 @rafiw @raeglan @mimibar @fhemberger @lukoerfer @leandrodeleite @jcarsique @jayvdb @harshadsabne @gAmUssA @DenisGorbachev @pangratz @defunkt @arinto @apetresc @alexkaratarakis
     
57 lines (41 sloc)  754 Bytes

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
Press h to open a hovercard with more details.